@font-face {
    font-family: 'fff_tusjbold';
    src: url('./fonts/fff_tusj-webfont.woff2') format('woff2'),
         url('./fonts/fff_tusj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: monospace;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header, .footer {
    background-color:#999B84;
    text-align: center;
    font-family: 'fff_tusjbold';
}
.title {
    font-size: 50pt;
    padding: 30px 0;
}
.footer {
    color: #F4EEED;
    padding: 8px 0 15px 0;
}
a > svg {
    stroke: #F4EEED;
    position: relative;
    top: 4px;
    left: 2px;
}
a > svg :hover {
    fill: black;
}

.main {
    display: flex;
}
.panel {
    background-color: #EFD9D1;
    flex: 1;
}
.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.display {
    background-color: #F4EEED;
    flex: 3;
}
textarea {
    resize: none;
}
.panel img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 0.4rem;
}
.panel button {
    border: none;
    width: 100%;
    background-color: #EFD9D1;
    text-align: left;
    font-size: 20pt;
    font-family: monospace;
    padding: 0.5rem 0 0.5rem 5rem;
}

button:hover, .projectBtn:hover, .projectBtn:hover .dropdownbtn {
    background-color: #D8AC9C;
}

.projectHeading {
    font-family: 'fff_tusjbold';
    font-size: 30pt;
    padding: 2rem 0 2rem 5rem;
}
.taskHeading {
    font-family: 'fff_tusjbold';
    font-size: 40pt;
    padding: 20px;
    margin: 55px;
    text-align: center;
}

.projectBtn {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: baseline;
    font-size: 20pt;
    padding-left: 5rem;
    position: relative;
    margin-bottom: 1rem;
}
.dropdownbtn {
    background-image: url(../src/img/dotMenu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.taskDiv {
    position: relative;
}
.dropdownDiv {
    float: right;
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    min-width: 50px;
    z-index: 1;
    right: 0;
    top: -5.5rem;
}

div.showMenu {
    display: block;
}
.dropdown button {
    background-color: #F4EEED;
}
.taskDiv .dropdown.showMenu {
    top: 44px;
    display: grid;
    right: 10px;
    justify-content: end;
    left: 0;
}

#projectForm {
    margin: 1rem 0 0 5rem;
    font-size: 20pt;
}
button.cancelProject, button.addProject {
    border: solid 1px;
    width: 8rem;
    margin: 0.5rem;
    padding: 0.2rem 0;
    text-align: center;
    border-radius: 5px;
}
input, textarea {
    padding: 0.5em 2em;
}

.projectTitle {
    font-family: 'fff_tusjbold';
    font-size: 40pt;
    padding: 40px;
    text-align: center;
}
.display button {
    font-family: monospace;
    font-size: 16pt;
    border: 1pt solid;
    border-radius: 5px;
    background-color: #F4EEED;
}
.display .addATask {
    margin: 0 0 20px 80px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.display button:hover, #addTask button:hover {
    background-color: #D8AC9C;
}
.save {
    margin-top: 5px;
}
#taskForm {
    font-family: monospace;
    font-size: 16pt;
}
fieldset {
    display: grid;
    gap: 10px;
    margin: 0 5rem;
}
input[id='newTask']:checked~li.ttitle {
    text-decoration: line-through;
    color:black;
}

.taskList {
    display: flex;
    flex-direction: column-reverse;
}
.taskDiv {
    display: flex;
    gap: 20px;
    padding: 0 40px;
    align-items: baseline;
}
.task {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 30px 180px 6fr 3fr 1fr;
    grid-template-areas:
        "one two four five six"
        "three three three three three";
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    font-size: 16pt;
}
.addATask svg {
    transform: scale(0.75);
}
#newTask {
    grid-area: one;
}
.ttitle {
    grid-area: two;
}
.tdescription {
    grid-area: three;
    padding-left: 3rem;
    color: rgb(97, 95, 95);
}
.tdue {
    grid-area: four;
}
.tpriority {
    grid-area: five;
}
.tstar {
    grid-area: six;
}
.true {
    background-image: url(./img/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}